<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>设置</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="/public/assets/css/person.css" rel="stylesheet" />
    <link href="/public/assets/css/weui.min.css" rel="stylesheet" />
</head>
<style>
    html body {
        background: #eeeeee;
        margin: 0;
        padding: 0;
    }
</style>

<body>

    <div class="weui-panel__bd" style="margin-top:20px;">
        <div class="weui-media-box weui-media-box_small-appmsg">
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="/index.php/user/index/change_nickname">
                    <div class="weui-cell__bd weui-cell_primary">
                        <p style="opacity: 0.5;font-size:15px;">修改昵称</p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="weui-panel__bd" style="margin-top:20px;">
        <div class="weui-media-box weui-media-box_small-appmsg">
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="/index.php/user/index/changepassword">
                    <div class="weui-cell__bd weui-cell_primary">
                        <p style="opacity: 0.5;font-size:15px;">修改密码</p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
            </div>
        </div>
    </div>

    <div class="weui-panel__bd" style="margin-top:20px;">
        <div class="weui-media-box weui-media-box_small-appmsg">
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="/index.php/user/index/changemobile">
                    <div class="weui-cell__bd weui-cell_primary">
                        <p style="opacity: 0.5;font-size:15px;">修改手机号码</p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="weui-panel__bd" style="margin-top:20px;">
        <div class="weui-media-box weui-media-box_small-appmsg">
            <div class="weui-cells">
                <a class="weui-cell weui-cell_access" href="/index.php/index/index/logout">
                    <div class="weui-cell__bd weui-cell_primary">
                        <p style="opacity: 0.5;font-size:15px;">退出登录</p>
                    </div>
                    <span class="weui-cell__ft"></span>
                </a>
            </div>
        </div>
    </div>


</body>

</html>